html {

}

body {
	margin: 0px;
	background: url(../img/body_background.png);

	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}

#wrapper {
	width: 380px;
	margin: auto;
	margin-top: 150px;
}

#box {
	background-color: #fff;
	width: 100%;

	border: 1px solid #ccc;
}

#header {
	background-color: #E6E8FA;
	background: url(../img/header_background.png);
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

#generate {
	width: 325px;
	margin: auto;
}

label {
	cursor: pointer;
	display: block;
	margin-bottom: 2px;
	color: #000;
	font-weight: bold;
}

input {
	background: #fff;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;

	padding: 5px;
	width: 315px;
	border: 1px;
	border-color: #b8b8b8 #e2e2e2 #e2e2e2 #b8b8b8;
	border-style: solid;
}

input:focus {
	background: #FFE4E1;
	outline: 0;
}

button {
	width: 100%;
	cursor: pointer;
}

.form_row {
	margin-bottom: 10px;
}

.hidden {
	text-indent: -9999px;
}
